article{
    font-family: Verdana;
	margin-left: 26%;
	margin-right: 2%;
	height: 100px;
}

title{
    font-family: Verdana;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
	font-size: 150%;
    background-color: blue;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

div {
    float: left;
}

.twitterimg {
    width:  55px;
    height: 50px;
    background: url(imgSprites/sprite2.png) 0px 0;
    margin-left: 25%;
}

.instagramimg {
    width:  50px;
    height: 50px;
    background: url(imgSprites/sprite2.png) 50px 0;
}

.facebookimg {
    width:  50px;
    height: 50px;
    background: url(imgSprites/sprite2.png) 98px 0;
}