article{
    font-family: Verdana;
}

ul {
    list-style-type: none;
    margin-top: -40px;
    padding: 0;
    overflow: hidden;
    background-color: #008B8B;
}

li {
    float: left;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul:hover {
    margin-top: -10px;
    display: block;
    background-color: #008B8B;
}
li a:hover {
    margin-top: 0px;
    display: block;
    background-color: #DAA520;
}

li a.active {
    background-color: #DAA520;
    color: white;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

div {
    float: left;
}

.twitterimg {
    width:  55px;
    height: 50px;
    background: url(imgSprites/sprite2.png) 0px 0;
}

.instagramimg {
    width:  50px;
    height: 50px;
    background: url(imgSprites/sprite2.png) 50px 0;
}

.facebookimg {
    width:  50px;
    height: 50px;
    background: url(imgSprites/sprite2.png) 98px 0;
}