/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

iframe{
    float: right;
    position: relative;
    right: 0;
}

img {
    max-height: 300px;
    max-width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    position: fixed;
    bottom: 0;
    width: 80%;
    z-index: 1;
    left: 2%;
    right: 0;
}




@media screen and (max-width: 767px) {
  .sidenav {
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: grey;
    width: 100%;
    z-index: 100; 


  }
  .row.content {
      height: auto;
  }

  button{
      left: 0;
      width: 100%;
  }
}
