/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px
}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: darkslategrey;
    color: black;
}

.active {
    background-color: orange;
    color: white;
}

.noticia {
    background-color: white;
    border-style: double;
    border-radius: 5px;
    margin: 1%;
}

.noticia a, p {
    padding-left: 2%;
}

.glyphicon {
    padding-left: 3%;
    font-weight: bold;
}

iframe{
    position: relative;
    left: 25%;
    top: 15px;
    margin-bottom: 2%;
}

img {
    max-height: 300px;
    max-width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    position: fixed;
    bottom: 0;
    width: 80%;
    z-index: 1;
    left: 2%;
    right: 0;
}




@media screen and (max-width: 767px) {
    .sidenav {
        position: fixed;
        bottom: 0;
        height: 50px;
        background-color: grey;
        width: 100%;
        z-index: 100;
    }

    img {
        max-width: 450px;
    }

    .topnav{
        margin-top: 50px;
    }

    .row.content {
        height: auto;
    }

    button{
        left: 0;
        width: 100%;
    }
}
