html {
  min-height: 100%;
  position: relative;
}

body {
	background-color: #eea700;
}

#cabecera{
	margin-top: -100px;
	font-weight: bold;
}

#JS {
	font-size: 115px;
	color: black;
	display: block;
	text-align: center;
}

.pregunta {
    margin-left: 10%;
    margin-bottom: 3%;
    font-family: Calibri ,sans-serif;
    font-weight: bold;
    font-size: 25px;

}

#tituloUni {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    margin-top: 20px;
}

#imagen1 {
    height: 400px;
    width: 400px;
    float: left;
    margin: 10px;
}

#imagen2 {
    height: 400px;
    width: 400px;
    float: right;
    margin: 10px;
}

input{
    margin-left: 10%;
}

select{
    margin-left: 10%;
}

#piepag {
	color: white;
    text-align: right;
	width: 100%;
	position: absolute;
}

#boton {
	margin-left: 10%;
	position: absolute;
  	width: 10%;
  	height: 40px;
  	margin-bottom: 5px;
    !important;
}

#boton1 {
    text-align: center;
    width: 160px;
    height: 75px;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 48%;
    margin-left: -50px;
}

@media screen and (max-width: 1000px) {
    html{
        background-color: lightcoral;
    }
    body {
        background-color: lightcoral;
    }

    #tituloUni{
        background-color: lightcoral;
        font-size: 60px;
    }

    #imagen1{
        height: 300px;
        width: 300px;
        align-content: center;
        position: absolute;
        margin-left: 30%;
    }

    #imagen2 {
        display: none;
    }

    #boton{
        width:100%;
        margin: 0;
    }

    #boton1{
        text-align: center;
        width: 100px;
        height: 60px;
        position: absolute;
    }

    #piepag{
        display: none;
    }
}
